* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 16px;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.nav {
  width: 100%;
  height: 200px;
  background-image: url(./images/bg-header-mobile.svg);
  background-color: #5ba4a4;
  background-repeat: no-repeat;
  background-size: 100%;
}

.filter-container {
  display: none;
  position: absolute;
}

.job-listings-container {
  width: 100%;
  background-color: #effafa;
  padding-top: 10%;
}

.card {
  width: 94%;
  position: relative;
  padding: 4%;
  margin: 3% 3% 10% 3%;
  background-color: #fff;
  border-radius: 10px;
}

.card-banner {
  width: 2%;
  background-color: hsl(180, 29%, 50%)
}

.card-image {
  display: none;
  position: absolute;
}

.card-body {
  padding: 2%;
}

.card-horizontal-rule {
  margin: 2rem 0.5rem;
}

.featured-job {
  border-style: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-left: 0.5rem solid #5ba4a4;
}

.labels {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.company-name {
  color: #5ba4a4;
  padding: 1%;
  width: fit-content;
}

.card-label {
  border: none;
  border-radius: 18px;
  width: fit-content;
  height: 50px;
  padding: 10px 20px;
  margin: 2%;
  outline: unset;
}

.new-btn {
  background-color: #5ba4a4;
  color: #fff;
}

.featured-btn {
  background-color: #000;
  color: #fff;
}

.card-job-position {
  padding: 5% 1%;
  font-size: 1rem;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  padding: 1%;
}

.card-bullet {
  font-size: 1rem;
  padding: 1rem;
  color: #222;
}

.card-bottom ul li {
  display: inline;
}

.posted-at {
  font-size: 1rem;
  padding-right: 1rem;
}

.contract {
  font-size: 1rem;
  padding-right: 1rem;
}

.location {
  font-size: 1rem;
  padding-right: 1rem;
}

.card-bottom-buttons {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  padding: 10px 0;
}

.card-button-label {
  margin: 1%;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  outline: unset;
  height: 50px;
  width: fit-content;
  background-color: #eef6f6;
  color: #5ba4a4
}